/*///////////////////////////////SCSS/////////////////////////////*/
/*//////////////BASE////////////////*/
/*/ Components/*/
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Spline+Sans+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,700;1,700&family=Merriweather&family=Spline+Sans+Mono:wght@300&display=swap");
/*/////////////////////////FOOTER////////////////////*/
.pie-pagina {
  width: 100%;
  background-color: #464748;
  text-align: center;
}

.pie-pagina .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .group-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .group-1 .box figure img {
  width: 100px;
}

.pie-pagina .group-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .group-1 .box p {
  color: #eaedf1;
  margin-bottom: 10px;
}

.pie-pagina .group-1 .redes a {
  display: flexbox;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  color: #fff;
  background-color: #464748;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .group-1 .redes a:hover {
  color: rgb(71, 194, 194);
}

.pie-pagina .group-2 {
  background-color: #464748;
  padding: 15px 10px;
  text-align: center;
  color: #eaedf1;
}

.pie-pagina .group-2 {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .group-1 {
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*/////////////////////////FOOTER////////////////////*/
/*/////////////////////////HEADER///////////////////*/
.header input {
  width: 10rem;
  height: 1.5rem;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 9rem;
}

.loginregister img {
  width: 3rem;
  grid-row: 1/3;
}

.loginregister {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.loginlogo {
  width: 3rem;
}

header {
  font-family: "Gentium Book Plus", serif;
}

/*/////////////////////////HEADER////////////////////*/
/*/////////////////////////MAIN TITLES////////////////////*/
.maintitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.maintitle {
  font-size: 2rem;
  background-color: #FEBA0B;
  text-align: center;
}

/*/////////////////////////MAIN TITLES////////////////////*/
/*//////////////////////NAV BAR//////////////////////*/
.bg-gonz {
  background-color: rgba(163, 212, 230, 0.992);
}

/*//////////////////////NAV BAR//////////////////////*/
/*///////////////////////SECTION PRODUCTS//////////////////////*/
.productsheader {
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  color: #373737;
  text-align: center;
}

h3 {
  font-size: 60px;
  font-weight: 900;
  color: #FEBA0B;
}

h5 {
  font-weight: 300;
  text-decoration: underline;
}

/*///////////////////////SECTION PRODUCTS//////////////////////*/
/*///////////////////////TRABAJA CON NOSOTROS//////////////////////*/
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.contact .content p {
  font-weight: 300;
  color: rgb(7, 7, 7);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #464748;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #464748;
  flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h6 {
  font-weight: 500;
  color: lightskyblue;
}

.contactform {
  width: 60%;
  padding: 40px;
  background: #eaedf1;
}

.contactform h2 {
  font-size: 30px;
  color: #464748;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

/*///////////////////////TRABAJA CON NOSOTROS//////////////////////*/

/*# sourceMappingURL=style.css.map */
