/*/////////////////////////FOOTER////////////////////*/

.pie-pagina{
    width: 100%;
    background-color: #464748;
    text-align: center;   
}

.pie-pagina .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .group-1 .box figure img{
    width: 100px;    
}

.pie-pagina .group-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .group-1 .box p{
    color: #eaedf1;
    margin-bottom: 10px;
}

.pie-pagina .group-1 .redes a{
    display: flexbox;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    color: #fff;
    background-color: #464748;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .group-1 .redes a:hover{
    color: rgb(71, 194, 194);
}

.pie-pagina .group-2{
    background-color:#464748;
    padding: 15px 10px;    
    text-align: center;
    color: #eaedf1;
    
}

.pie-pagina .group-2{
    font-size: 15px;    
}

@media screen and (max-width:800px) {
    .pie-pagina .group-1{
        width: 100%;
        max-width: 1200px;        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        }
    
}

/*/////////////////////////FOOTER////////////////////*/