/*/////////////////////////MAIN TITLES////////////////////*/
.maintitle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.maintitle{
    font-size: 2rem;
    background-color: #FEBA0B;
    text-align: center;
   
    
   
}
/*/////////////////////////MAIN TITLES////////////////////*/