/*///////////////////////TRABAJA CON NOSOTROS//////////////////////*/

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
 }

 .contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgb(0, 0, 0);    
 }

 .contact .content p{
    font-weight: 300;
    color: rgb(7, 7, 7);
 }
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #464748;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #464748;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .text h6{
    font-weight: 500;
    color: lightskyblue;
}

.contactform{
    width: 100%;
    padding: 40px;
    background: #eaedf1;
}
.contactform h2{
    font-size: 30px;
    color: #464748;
    font-weight: 500;    
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;      
}

.trabajar-container{
    width: 300px;
    margin: 20px;    
    background-color: rgba(233, 148, 148, 0.384);
    border-color: #bfc4c9;
    transform: translate(0);   
    animation-duration: 5s;
    
}

@keyframes trabajar-container{
    from{
        transform: translate(0);

    }

    to{
        transform: translate(100px);

    }

}


    

/*///////////////////////TRABAJA CON NOSOTROS//////////////////////*/