*{
    padding: 0;
    margin: 0;
}

/*/////////////////////////HEADER////////////////////*/
header input{
    width: 10rem;
    height: 1.5rem;
}

.login{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;      
}

header{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around; 
    align-items: center;
}

.login img {
    width: 2rem;
    grid-row: 1/3;
    transition-duration: 3s;
}

header .logo {
    width: 8rem;
}
/*/////////////////////////HEADER////////////////////*/


/*///////////////////////////NAV/////////////////////*/
.navbar ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 40px;
    justify-content: center;  
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.navbar ul li ::before{
    content: "";
    height: 3px;
    width: 0%;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li a:hover::before{
    width: 100%;
}



/*///////////////////////////NAV/////////////////////*/

/*/////////////////////////TITULOS//////////////////*/
h2{
    text-align: center;
    width: 100%;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    padding: 2rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    animation: move 2s step-end infinite;
}

@keyframes move {
   0% {
    transform: translate(0%, 10%);
   }
   50% {
    text-shadow: 0 25px 50px black;
   }
   100%{
    transform: translate(0%, 10%);
   }
}

h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding-left: 10%;
}
/*/////////////////////////TITULOS//////////////////*/

/*////////////////////////MAIN/////////////////////*/
.destacados{
    display: grid   
    grid-template-columns 1px 2px 1px;
    grid-template-rows: auto;  
} 

.productos{
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    padding: 2rem;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: black;   
           
}   

.productos__article ul{
    background-color: white;
    border: 1px solid blue;  
}

.productos__article h5{
    text-align: center;
    background-color: white;
    width: 80%;
    border: 1px;
}

.trabajar-container{
    display: grid;
    text-align: center;
    grid-template-rows: 150px;
    grid-template-columns: 40%;
    border: 2px solid black; 
}

.nuestra__franquicia{
    width: 150px;
    height: 150px;
    margin: 15px;
}
/*////////////////////////MAIN/////////////////////*/

/*//////////////////////IMAGES////////////////////*/

.image1{
    width: 30%;
    height: auto;  
}

.image2{
    width: 35%;
    height: auto;
}

.image3{
    width: 30%;
    height: auto;
}

.promo1{
    width: 200px;
}
.promo2{
    width: 200px;
}

.nuestra__franquicia{
    width: 30vh;
}

.vende__productos{
    width: 30vh;
}
/*//////////////////////IMAGES////////////////////*/

/*/////////////////////FOOTER////////////////////*/
#footer-column-1{
    display: grid; 
    grid-template-columns: auto auto;
    justify-content: space-evenly; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  
/*/////////////////////FOOTER////////////////////*/

/*////////////////////RESPONSIVE////////////////*/
@media screen and (max-width: 800px) {
    .contenedor {
        width: 100%;
    }


    
}





